@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
    /* border: 3px solid red; */
}


header {

    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* position: sticky;
    top: 0; */
}

.Background-mobile-vedio {

    display: none;
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.background-video {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

nav {
    height: 7vh;
    width: 80%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
}

.logo {
    height: 100%;
    width: 30%;
    position: relative;
    left: 50px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;


}

.header-links {
    display: block;
    height: 100%;
    width: 70%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 90px;


    a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 16px;
        font-family: "Sora", sans-serif;

    }

    button {
        padding: 10px 17px;
        border-radius: 10px;
        border: 0;
        background-color: black;

        a {
            color: white;
        }

    }
}

#menu {
    display: none;
    /* border: 2px solid red; */
    margin-left: auto;
    position: relative;
    right: 40px;

}

.homepage {

    height: 93vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}

.homepage-content {

    height: 40%;
    width: 50%;
    /* border: 5px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    h1 {
        height: 10%;
        width: 100%;
        text-align: center;
        font-size: 42px;
        color: #1F2D3A;

        span {
            font-weight: 300;
            color: #1F2D3A;
        }

    }

    p {
        height: 10%;
        width: 100%;
        text-align: center;
        font-size: 20px;
        margin-top: 58px;
    }

    button {
        padding: 15px 30px;
        border-radius: 15px;
        border: 0;
        background-color: black;
        color: white;
        font-size: 20px;
        margin-top: 30px;
    }

}

.BW-logo {
    height: 20%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* border: 2px solid blue; */


}

.one {

    height: 53%;
    width: 15%;


}

.three {

    height: 53%;
    width: 23%;


}

.four {

    height: 53%;
    width: 15%;


}

.two {

    height: 45%;
    width: 30%;

}

.homepage-2 {

    height: 270dvh;
    width: 100%;
    background-color: #F1FFC5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.heading {

    height: 40vh;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 32px;
        color: #182547;
        font-weight: 600;
        margin-bottom: 15px;
    }

    p {
        font-size: 20px;
        color: #182547;
    }
}

.kiwi-neon {

    height: 70vh;
    width: 80%;
    /* border: 2px solid red; */
    border-radius: 50px;
    background-color: #A5FF08;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.navbar {
    height: 25%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    font-size: 22px;
}

.nine-nine {

    background-color: #C9FF6B;

    border-radius: 20px;
    padding: 12px 24px;

    button {
        background-color: #C9FF6B;
        border: 0;
        font-size: 20px;

        font-weight: 600;

    }

}

.grids {
    height: 75%;
    width: 100%;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 340px;
    justify-content: space-evenly;
    align-content: center;

}

.cashback {
    /* border: 2px solid red; */
    border-radius: 30px;
    background-color: #C9FF6B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        color: #182547;
    }

    img {
        margin-top: 30px;
    }


}

.airport {
    /* border: 2px solid red; */
    border-radius: 30px;
    background-color: #C9FF6B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        color: #182547;
    }

    img {
        margin-top: 35px;
    }
}

.offers {
    /* border: 2px solid red; */
    border-radius: 30px;
    background-color: #C9FF6B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        color: #182547;
    }

}

.perks {

    height: 20vh;
    width: 100%;
    text-align: center;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: last baseline;

    h1 {
        font-size: 32px;
        color: #1F2D3A;
        font-weight: 600;
    }

}

.grid-2 {
    height: 50vh;
    width: 100%;
    display: grid;
    /* border: 2px solid red; */
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 345px 345px 345px;
    gap: 100px;
    justify-content: center;
    margin-top: 42px;
    padding-top: 20px;


}

.cashback-2 {
    /* border: 2px solid red; */
    border-radius: 30px;
    background-color: #F7FFDC;
    overflow: hidden;

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        color: #182547;
    }

}

.fcc {
    /* border: 2px solid red; */
    border-radius: 30px;
    background-color: #F7FFDC;
    overflow: hidden;

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        color: #182547;
    }


}

.vcc {
    /* border: 2px solid red; */
    border-radius: 30px;
    background-color: #F7FFDC;
    overflow: hidden;

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
        font-weight: 600;
        color: #182547;
        /* border: 2px solid red; */
    }


}

.figures {
    height: 40vh;
    width: 70%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 20px;
    }
}

.transaction {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 20px;
    }

}

.payments {

    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 20px;
    }
}

.partners {

    height: 50vh;
    width: 70%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: 32px;
        color: #1F2D3A;
        font-weight: 600;
    }

}

.grid-3 {

    height: 30vh;
    width: 85%;
    /* border: 2px solid red; */
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    gap: 25px;

}

.rupay {
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 30px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yesbank {
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 30px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upi {
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 30px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-3 {
    height: 150vh;
    width: 100%;
    background-color: #F4FFEB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        text-align: center;
        font-size: 36px;
        color: #182547;
        margin-bottom: 60px;
        /* border: 2px solid red; */


    }
}

.grid-cards {
    height: 50vh;
    width: 90%;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 60px 600px 600px 60px;
    grid-template-rows: 300px 300px;
    justify-content: center;

}

.review-1 {

    /* border: 2px solid red; */
    padding: 2rem;
    border-radius: 90px;
    background-color: #FFFFFF;
    /* display: flex;
    justify-content: center;
    align-items: center; */


}

.review-2 {

    /* border: 2px solid red; */
    display: block;
    padding: 2rem;
    margin-left: 15px;
    border-radius: 90px;
    background-color: #FFFFFF;


}

.arrows {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;


}

.arrow-1 {
    position: relative;
    left: 30px;
    height: 20%;
    border-radius: 30px;
    width: 90%;
    /* border: 2px solid red; */
    background-color: #FFFFFF;
    filter: drop-shadow(0 2.909px 14.545px rgba(0, 0, 0, .08));
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */


    h1 {
        color: #008000;
        font-size: 25px;
        font-weight: 500;
        margin-top: 10px;
    }
}

.arrow-2 {
    position: relative;
    right: 30px;
    height: 20%;
    border-radius: 30px;
    width: 90%;
    /* border: 2px solid red; */
    filter: drop-shadow(0 2.909px 14.545px rgba(0, 0, 0, .08));
    background-color: #FFFFFF;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */


    h1 {
        color: #008000;
        font-size: 25px;
        font-weight: 500;
        margin-top: 10px;


    }
}


.frame-1 {
    height: 50%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

/* .avatar{
    border: 2px solid red;
} */

.avatar-name {
    /* border: 2px solid red; */
    height: fit-content;
    margin: 10px 0px 15px 10px;
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.stars {
    display: flex;
    gap: 2px;
    height: fit-content;
}

.money {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    padding: 10px 45px;
    border-radius: 20px;
    margin-left: auto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    background-color: #E2F7D5;
    color: #63AC1A;
    cursor: pointer;

    span {
        font-size: 18px;
        font-weight: 600;
        color: #182547;
    }
}

.text {
    color: #182547;
    margin: 25px;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    height: 47vh;
    gap: 30px;
}

.cashback-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    border-radius: 20px;
    background: linear-gradient(180deg, #e2cffc 16.56%, #c184ff);

    img {
        margin-top: 50px;
        vertical-align: middle;
    }

    h1 {
        font-size: 24px;
        padding-top: 40px;
        font-weight: 600;
        color: #3c0276;
        line-height: 40px;

    }

}

.approval {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    border-radius: 20px;
    background: linear-gradient(180deg, #d9ffb2 16.56%, #8ff429);

    img {
        margin-top: 50px;
        vertical-align: middle;
    }

    h1 {
        font-size: 24px;
        padding-top: 40px;
        font-weight: 600;
        color: #295100;
        line-height: 40px;
    }
}

.click {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    border-radius: 20px;
    background: linear-gradient(180deg, #ffd7f7 16.56%, #ff56dc);

    img {
        margin-top: 50px;
        vertical-align: middle;
    }

    h1 {
        font-size: 24px;
        padding-top: 40px;
        font-weight: 600;
        color: #700059;
        line-height: 40px;
    }
}

.homepage-4 {
    min-height: 250vh;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    h1 {
        text-align: center;
        font-size: 36px;
        color: #182547;
        margin-top: 40px;
        font-weight: 600;
        margin-bottom: 60px;
        /* border: 2px solid red; */
    }
}

.caraousal-cards {

    height: 70vh;
    width: 100%;
    /* border: 2px solid red; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 400px 400px 400px 400px 400px;
    gap: 10px;
    padding: 10px;


}

.card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    padding: 30px;
    position: relative;
    left: 10px;
    /* border: 2px solid red; */
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #EEF9E8;
    transform: translate(0%, 45%) rotate(-12deg);
    transition: 2s ease-in-out;
    opacity: 40%;
}

.card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    padding: 30px;
    position: relative;
    left: 5px;
    /* border: 2px solid red; */
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    ;
    background-color: white;
    z-index: 1;
    transform: translate(0%, 20%) rotate(-12deg);
    transition: 2s ease-in-out;

    /* opacity: 80%; */
}

.card-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    height: 400px;
    /* border: 2px solid red; */
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #FFFFFF;
    z-index: 2;
}

.card-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    padding: 30px;
    position: relative;
    right: 5px;
    /* border: 2px solid red; */
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    ;
    background-color: white;
    z-index: 1;
    transform: translate(0%, 20%) rotate(12deg);
    transition: 2s ease-in-out;

}

.card-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    padding: 30px;
    position: relative;
    right: 10px;
    /* border: 2px solid red; */
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #EEF9E8;
    opacity: 40%;
    transform: translate(0%, 45%) rotate(12deg);
    transition: 2s ease-in-out;
}

.card-1 p {


    font-size: 12px;
    color: #939393;
    margin-bottom: 20px;

}

.card-2 p {


    font-size: 12px;
    color: #939393;
    margin-bottom: 20px;

}

.card-3 p {


    font-size: 12px;
    color: #939393;
    margin-bottom: 20px;

}

.card-4 p {


    font-size: 12px;
    color: #939393;
    margin-bottom: 20px;

}

.card-5 p {


    font-size: 12px;
    color: #939393;
    margin-bottom: 20px;

}


.card-1 h1 {


    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;

}

.card-2 h1 {


    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;

}

.card-3 h1 {


    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;

}

.card-4 h1 {


    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;

}

.card-5 h1 {


    font-size: 36px;
    font-weight: 500;
    margin-top: 10px;

}



.card-1 button {


    font-size: 16px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 10px;
    border: 0;

}

.card-2 button {


    font-size: 16px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 10px;
    border: 0;

}

.card-3 button {


    font-size: 16px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 10px;
    border: 0;

}

.card-4 button {


    font-size: 16px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 10px;
    border: 0;

}

.card-5 button {


    font-size: 16px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 10px;
    border: 0;

}

.scroll-button {
    height: auto;
    width: fit-content;
    border-radius: 35px;
    background-color: black;
    padding: 5px;
    margin-top: 30px;

    button {

        padding: 15px 53px;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 16px;

    }

}

.scroll-button button:focus {

    background-color: white;
    color: black;

}

.homepage-4 h2 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
}

#digitalfinance_card {
    margin-top: 50px;
}

.BW-logo-2 {
    height: 20%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* border: 2px solid blue; */


}

.one {

    height: 53%;
    width: 15%;


}

.three {

    height: 53%;
    width: 23%;


}

.four {

    height: 53%;
    width: 15%;


}

.two {

    height: 45%;
    width: 30%;

}

#applynow {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: black;
    margin-top: 20px;

}

.questions {
    /* border: 2px solid red; */
    width: 90%;
    padding: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 100px;

    hr {
        width: 93%;
        border: 0.5px solid #F5F5F5;
    }

    h1 {
        font-size: 32px;
    }

}

.question {
    /* border: 2px solid red; */

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ques {
    /* border: 2px solid red; */

    width: 100%;
    /* display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.drop-arrow {
    width: fit-content;
    margin-left: auto;
    padding: 40px;

    img {
        width: fit-content;
    }
}

.footer {
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    background-color: black;
    flex-direction: column;

}

.footer-contents {
    height: 65%;
    width: 85%;
    /* border: 2px solid red; */
    display: flex;
    gap: 50px;
}

.info {

    /* border: 2px solid red; */
    height: 100%;
    width: 20%;

    p {
        font-size: 19px;
        color: white;
        font-weight: 400;
        margin-left: 30px;
    }

    .apple-playstore {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        img {
            margin: 0px 30px;
        }
    }

    .apple-playstore hr {
        height: 25px;
        border: 1px solid white;

    }

}

#w-logo {
    margin: 30px;
}

.certifications {

    /* border: 2px solid red; */
    height: 100%;
    width: 30%;

    h1 {
        font-size: 25px;
        color: white;
        font-weight: 500;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 25px;
        color: white;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .top {
        height: 50%;
        padding: 30px 0px;
    }

    .C-logos {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .bottom {
        height: 50%;
    }

    .socials {
        display: flex;
        position: relative;
        right: 20px;
        /* justify-content: center; */
        align-items: center;
        gap: 8px;

        img {
            height: 45px;
        }

        hr {
            height: 25px;
        }
    }

}

.contacts-us {

    /* border: 2px solid red; */
    height: 100%;
    width: 25%;


    h1 {
        color: white;
        font-size: 25px;
        font-weight: 500;
        padding: 30px 0px;
        position: relative;
        right: 15px;
    }

    .whatsapp {
        position: relative;
        right: 8px;
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: start;
        align-items: baseline;
        margin: 20px 0px;

    }

    .location {
        width: 100%;
        /* border: 2px solid red; */
        margin: 20px 0px;
        justify-content: left;
        display: flex;
        align-items: baseline;

    }

    .icon {
        position: relative;
        right: 15px;

        img {
            vertical-align: middle;
        }

        /* border: 2px solid red; */

    }

    .address {
        /* border: 2px solid red; */
        color: white;
        font-size: 1.2rem;
        line-height: 1.8rem;

    }



}

.company {

    /* border: 2px solid red; */
    position: relative;
    right: 25px;
    height: 100%;
    width: 25%;

    h1 {
        color: white;
        font-size: 25px;
        font-weight: 500;
        padding: 30px 0px;

    }

}

.company-links {

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 25px;

    a {

        color: white;
        font-size: 18px;
        text-decoration: none;

    }
}

#footer-line {
    width: 80%;
    border: 1px solid white;
}

#copyright {
    font-size: 19px;
    margin: 40px 0px 10px;
    color: white;
    font-weight: 400;

}

@media only screen and (max-width: 319px) {
    * {
        display: none;
    }
}


@media (min-width:1023px) and (max-width:1350px) {

    nav {
        height: auto;
        padding: 10px;
        width: 100%;
        font-size: 10px;
    }

    .logo {

        left: 90px;
    }

    .header-links a {

        font-size: 14px;

    }


    /*============================ homepage-2 responsive from here ================================== */


    .kiwi-neon {
        width: 95%;
        /* border: 2px solid red; */
    }

    .grid-2 {
        gap: 40px;
    }

    .figures {
        width: 80%;
    }

    /* ======================================== homepage-3 responsive from here =================================== */

    .homepage-3 {


        .grid-cards {
            height: 40vh;
            width: 100%;
            grid-template-columns: 40px 500px 500px 40px;
            grid-template-rows: 250px 250px;
            overflow: hidden;


        }

        .review-1 {
            padding: 1.5rem;
        }

        .review-2 {

            padding: 1.5rem;
        }


        .arrow-1 h1 {

            font-size: 20px;
        }

        .arrow-2 h1 {

            font-size: 20px;
        }


        .frame-1 {

            padding: 0px 20px;
        }

        .money {

            padding: 10px 35px;
        }

        .text {
            margin: 15px;
            font-size: 16px;
        }

    }

    /* ======================================== homepage-4 responsive from here =================================== */




    .caraousal-cards {

        grid-template-columns: 200px 200px 200px 200px 200px;

    }


    .scroll-button button {

        padding: 15px 33px;

    }



    /* ======================================== footer responsive from here =================================== */




    .footer-contents {
        height: 75%;
        width: 100%;
        padding: 30px;
        gap: 30px;
    }

    .info {

        p {
            font-size: 18px;
        }

        .apple-playstore {

            margin-top: 20px;

        }

    }

    .certifications {


        h1 {
            font-size: 22px;

        }

        h2 {
            font-size: 22px;
        }

        .C-logos {
            height: 30%;
            flex-wrap: wrap;
            gap: 5px;
        }

        .socials {
            gap: 2px;
        }

    }

    .contacts-us {

        h1 {
            font-size: 22px;
        }

        .address {
            font-size: 1rem;
            line-height: 1.6rem;
        }

    }

    .company {

        /* border: 2px solid red; */
        position: static;


        h1 {

            font-size: 22px;

        }

    }

    .company-links {

        gap: 10px;
        margin-top: 20px;

        a {
            font-size: 17px;
        }
    }

    #footer-line {
        width: 85%;
        border: 0.5px solid white;
    }

    #copyright {
        font-size: 17px;
    }

}

@media (min-width:767px) and (max-width:1023px) {

    nav .logo {
        left: 20px;
    }

    .header-links {
        display: none;
    }

    #menu {
        display: block;
    }

    /*============================ homepage  responsive from here ================================== */


    .homepage {

        height: 100vh;

    }

    .homepage-content {

        height: 50%;
        width: 70%;


    }

    /*============================ homepage-2 responsive from here ================================== */

    .homepage-2 {

        height: 270dvh;
        width: 100%;
        background-color: #F1FFC5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .heading {

        height: 40vh;
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-size: 32px;
            color: #182547;
            font-weight: 600;
            margin-bottom: 15px;
        }

        p {
            font-size: 20px;
            color: #182547;
        }
    }

    .kiwi-neon {

        height: 70vh;
        width: 80%;

        background-color: #A5FF08;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }

    .navbar {
        height: 25%;
        width: 100%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 60px;
        font-size: 22px;
    }

    .nine-nine {

        background-color: #C9FF6B;

        border-radius: 20px;
        padding: 12px 24px;

        button {
            background-color: #C9FF6B;
            border: 0;
            font-size: 20px;

            font-weight: 600;

        }

    }

    .grids {

        grid-template-columns: repeat(3, 170px);

    }

    .cashback {

        img {
            margin-top: 100px;
        }


    }

    .airport {

        img {
            margin-top: 65px;
        }
    }

    .offers {

        img {
            margin-top: 40px;
        }

    }

    .grid-2 {
        grid-template-columns: repeat(3, 190px);
        gap: 40px;
    }



    .figures {
        width: 90%;
    }

    .grid-3 {
        grid-template-columns: repeat(3, 210px);
        grid-template-rows: 130px;
        gap: 15px;
    }


    /* ======================================== homepage-3 responsive from here =================================== */

    .homepage-3 {


        .grid-cards {
            height: 40vh;
            width: 100%;
            grid-template-columns: 40px 300px 300px 40px;
            grid-template-rows: 300px 300px;

        }

        .review-1 {
            padding: 1rem;
            border-radius: 40px;
        }

        .review-2 {
            padding: 1rem;
            margin-left: 10px;
            border-radius: 40px;

        }

        .arrows {
            /* border: 2px solid red; */
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .avatar {
        height: 70px;
        width: 70px;

    }

    .avatar-name {
        margin: 30px;
        font-size: 16px;
        margin-bottom: 30px;
        margin-left: 5px;
    }

    .money {

        padding: 10px 15px;
        border-radius: 20px;
        margin-left: auto;

        span {
            font-size: 14px;
        }
    }

    .text {
        margin: 10px;
        font-size: 15px;
        line-height: 1.4rem;
    }

    .grid-4 {

        height: 37vh;
    }


    /* ======================================== homepage-4 responsive from here =================================== */

    .caraousal-cards {

        grid-template-columns: 150px 150px 170px 150px 150px;

    }


    .scroll-button {

        margin-top: 60px;

        button {

            padding: 15px 30px;

        }
    }


    .homepage-4 {

        h1 {

            margin-top: 10px;
            margin-bottom: 40px;
        }

        h2 {
            font-size: 36px;
            font-weight: 600;
            text-align: center;
            margin-top: 20px;
        }

        #digitalfinance_card {
            margin-top: 40px;
        }

        .BW-logo-2 {
            height: 60%;
            width: 80%;


        }
    }

    /* ======================================== footer responsive from here =================================== */



    .footer {
        height: 60vh;

    }

    .footer-contents {
        height: 75%;
        width: 95%;
        gap: 30px;
    }

    .info {

        /* border: 2px solid red; */
        height: 100%;
        width: 20%;

        p {
            font-size: 16px;
            margin-left: 30px;
        }

        .apple-playstore {
            margin-top: 10px;
            margin-left: 10px;

            img {
                margin: 0px 20px;
            }
        }

    }

    #w-logo {
        margin: 25px;
    }

    .certifications {
        h1 {
            font-size: 20px;
        }

        h2 {
            font-size: 20px;
        }


        .C-logos {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        .socials {
            gap: 1px;
        }


    }

    .contacts-us {

        /* border: 2px solid red; */
        height: 100%;
        width: 25%;


        h1 {
            font-size: 20px;
        }

        .whatsapp {
            margin: 0px 0px;
        }

        .location {
            margin: 5px 0px;
        }


        .address {
            font-size: 12px;
            line-height: 1.3rem;

        }

    }

    .company {
        position: relative;
        right: 20px;
        height: 100%;
        width: 25%;

        h1 {
            font-size: 20px;
        }

    }

    .company-links {
        margin-top: 20px;
        grid-template-columns: 140px;
        grid-template-rows: repeat(5, 20px);
        gap: 25px;

        a {
            font-size: 11px;
            padding: 0px;

        }
    }

    #footer-line {
        width: 80%;
        border: 1px solid white;
    }

    #copyright {
        font-size: 15px;
        margin: 20px 0px 10px;
    }




}

@media (min-width:425px) and (max-width:767px) {


    .Background-mobile-vedio {

        display: block;
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;

    }


    .background-video {

        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -2;
    }

    /* .Background-mobile-vedio{
         display: none;
         object-fit: cover;
       
    
    } */


    #menu {

        display: block;
    }

    nav {
        height: 7vh;
        width: 100%;
    }

    .logo {
        height: 100%;
        width: 50%;
    }

    .header-links {
        display: none;
    }


    /*============================ homepage  responsive from here ================================== */



    .homepage-content {
        width: 80%;


        h1 {
            font-size: 43px;
        }

        p {

            font-size: 19px;
            margin-top: 98px;
        }

        button {
            padding: 15px 20px;
            font-size: 18px;
        }

    }

    .BW-logo {
        height: 20%;
        width: 100%;
        gap: 10px;

    }

    .one {

        height: 60%;
        width: 20%;

    }

    .two {

        height: 80%;
        width: 40%;

    }

    .three {

        height: 60%;
        width: 20%;

    }

    .four {

        height: 60%;
        width: 20%;

    }



    /*============================ homepage-2 responsive from here ================================== */




    .homepage-2 {
        height: auto;
    }

    .heading {
        h2 {
            font-size: 28px;
        }

        p {
            font-size: 18px;
        }
    }

    .kiwi-neon {

        height: auto;
        width: 90%;
        /* border: 2px solid red; */
        border-radius: 50px;
        background-color: #A5FF08;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }

    .navbar {
        height: auto;
        padding: 30px 30px;
        width: 100%;
        font-size: 18px;
    }

    .nine-nine {
        padding: 12px 14px;

        button {
            font-size: 16px;
        }

    }

    .grids {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: 280px 280px 280px;
        row-gap: 60px;
        padding: 30px 0px;


    }

    .cashback {

        display: block;
        overflow: hidden;

        img {
            margin-top: 0px;
        }


    }

    .airport {

        display: block;
        overflow: hidden;

        img {
            margin-top: 0px;
        }
    }

    .offers {
        display: block;
        overflow: hidden;

    }

    .perks {

        width: 80%;

        h1 {
            font-size: 28px;
        }

    }

    .grid-2 {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: 345px 345px 345px;
        row-gap: 50px;

    }



    .figures {
        height: 40vh;
        width: 90%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customers {
        height: auto;
        width: fit-content;
        text-align: center;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }

    .transaction {
        height: auto;
        width: fit-content;
        text-align: center;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

    }


    .payments {

        height: auto;
        width: fit-content;
        text-align: center;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }

    .partners {

        height: auto;
        width: 70%;

        h1 {
            font-size: 28px;
        }

    }

    .grid-3 {

        height: auto;
        width: 85%;
        display: grid;
        grid-template-columns: repeat(2, 190px);
        grid-template-rows: 130px 130px;
        gap: 20px;

    }

    .upi {
        position: relative;
        left: 125px;
        bottom: 10px;
    }



    /*============================ homepage-3 responsive from here ================================== */




    .homepage-3 {
        height: auto;
        padding: 50px;
        width: 100%;
        overflow: hidden;

        h1 {
            font-size: 32px;
        }
    }

    .grid-cards {
        width: 90%;
        display: grid;
        grid-template-columns: 50px 390px 50px;
        grid-template-rows: 300px 300px;
        justify-content: center;
    }

    .review-2 {
        display: none;
    }


    .arrow-1 {
        position: relative;
        left: 30px;
    }

    .arrow-2 {
        position: relative;
        right: 30px;
    }

    .avatar {
        height: 90px;
        width: 90px;
    }

    .avatar-name {
        /* border: 2px solid red; */
        height: fit-content;
        margin: 50px 20px;
        font-size: 19px;
    }

    .money {
        padding: 8px 20px;
        font-size: 13px;

        span {
            font-size: 16px;
        }
    }

    .text {
        color: #182547;
        margin: 10px;
        font-size: 1rem;
        line-height: 1.5rem;
    }



    .grid-4 {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: 280px;
        position: relative;
        right: 12px;
        width: 100%;
        height: auto;
        gap: 15px;
    }

    .cashback-3 {

        img {
            margin-top: 60px;
            vertical-align: middle;
        }

        h1 {
            font-size: 20px;
            padding-top: 30px;

        }

    }

    .approval {

        img {
            margin-top: 60px;
        }

        h1 {
            font-size: 20px;
        }
    }

    .click {

        position: relative;
        left: 100px;

        img {
            margin-top: 60px;
        }

        h1 {
            font-size: 20px;
        }
    }

    /*============================ homepage-4 responsive from here ================================== */


    .homepage-4 {

        h1 {
            font-size: 32px;
        }


        .caraousal-cards {

            height: 70vh;
            width: 100%;
            /* border: 2px solid red; */
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 150px 150px 150px 150px 150px;
            grid-template-rows: 350px 350px 350px 350px 350px;
            gap: 10px;
            padding: 10px;


        }

        .card-1 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 20px;
            border-radius: 10px;
            border: 0;

        }

        .card-2 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 20px;
            border-radius: 10px;
            border: 0;

        }

        .card-3 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 10px;
            border: 0;

        }

        .card-4 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 10px;
            border: 0;

        }

        .card-5 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 10px;
            border: 0;

        }

        .scroll-button {

            button {

                padding: 15px 4px;
                font-size: 15px;

            }

        }

        .scroll-button button:focus {

            background-color: white;
            color: black;
        }

        #digitalfinance_card {
            margin-top: 30px;
            height: 200px;
            width: 300px;
        }

        .BW-logo-2 {
            height: 100%;
            width: 120%;
        }


        #applynow {
            font-size: 16px;
            padding: 15px 30px;
        }

        .questions {
            /* border: 2px solid red; */
            width: 100%;
            padding: 20px;
            font-size: 15px;
            margin-top: 50px;

            hr {
                width: 98%;
                border: 0.5px solid #F5F5F5;
            }

            h1 {
                font-size: 30px;
            }

        }

    }



    /*============================ footer responsive from here ================================== */



    .footer {
        height: auto;
        display: flex;
    }

    .footer-contents {
        height: auto;
        width: 95%;
        padding: 20px;
        /* border: 2px solid red; */
        display: block;
        gap: 0px;
    }

    .info {

        /* border: 2px solid red; */
        height: 100%;
        width: 80%;

        p {
            font-size: 20px;
            margin-left: 0px;
        }

        .apple-playstore {
            justify-content: left;
            margin-top: 0px;

            img {
                margin: 10px 20px;
            }
        }

        .apple-playstore hr {
            height: 25px;
            border: 1px solid white;

        }

    }

    #w-logo {
        margin: 20px;
    }

    .certifications {

        /* border: 2px solid red; */
        height: 100%;
        width: 80%;

        h1 {
            font-size: 25px;
            color: white;
            font-weight: 500;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 25px;
            color: white;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .top {
            height: auto;
            padding: 20px 0px;
        }

        .C-logos {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .bottom {
            height: auto;
        }

        .socials {
            display: flex;
            position: relative;
            right: 0px;
            /* justify-content: center; */
            align-items: center;
            gap: 8px;

            img {
                height: 45px;
            }

            hr {
                height: 25px;
            }
        }

    }

    .contacts-us {

        width: 80%;


        h1 {
            color: white;
            font-size: 25px;
            font-weight: 500;
            padding: 20px 0px;
            position: relative;
            right: 0px;
        }

        .whatsapp {
            position: relative;
            left: 9px;
            width: 98%;
            margin: 0px 0px;

        }

        .location {
            margin: 20px 0px;
            position: relative;
            left: 12px;

        }

        .address {
            /* border: 2px solid red; */
            color: white;
            font-size: 16px;
            line-height: 1.6rem;

        }



    }

    .company {

        /* border: 2px solid red; */
        position: static;
        width: 80%;

        h1 {
            font-size: 25px;
            padding: 20px 0px;

        }

    }

    .company-links {

        display: grid;
        grid-template-rows: repeat(5, 1fr);
        gap: 20px;

        a {

            color: white;
            font-size: 16px;
            text-decoration: none;

        }
    }

    #footer-line {
        width: 90%;
        border: 1px solid white;
    }

    #copyright {
        font-size: 14px;
        margin: 20px 0px 20px;

    }


}


@media (min-width:319px) and (max-width:425px) {



    .Background-mobile-vedio {

        display: block;
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: -1;

    }


    .background-video {

        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -2;
    }

    /* .Background-mobile-vedio{
         display: none;
         object-fit: cover;
       
    
    } */


    #menu {

        display: block;
    }

    nav {
        height: 7vh;
        width: 100%;
    }

    .logo {
        height: 100%;
        width: 50%;
    }

    .header-links {
        display: none;
    }


    /*============================ homepage  responsive from here ================================== */



    .homepage-content {
        width: 80%;


        h1 {
            font-size: 43px;
        }

        p {

            font-size: 19px;
            margin-top: 98px;
        }

        button {
            padding: 15px 20px;
            font-size: 18px;
        }

    }

    .BW-logo {
        height: 20%;
        width: 100%;
        gap: 10px;

    }

    .one {

        height: 60%;
        width: 20%;

    }

    .two {

        height: 80%;
        width: 40%;

    }

    .three {

        height: 60%;
        width: 20%;

    }

    .four {

        height: 60%;
        width: 20%;

    }



    /*============================ homepage-2 responsive from here ================================== */




    .homepage-2 {
        height: auto;
    }

    .heading {
        h2 {
            font-size: 28px;
        }

        p {
            font-size: 18px;
        }
    }

    .kiwi-neon {

        height: auto;
        width: 90%;
        /* border: 2px solid red; */
        border-radius: 50px;
        background-color: #A5FF08;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


    }

    .navbar {
        height: auto;
        padding: 30px 30px;
        width: 100%;
        font-size: 18px;
    }

    .nine-nine {
        padding: 12px 14px;

        button {
            font-size: 16px;
        }

    }

    .grids {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: 280px 280px 280px;
        row-gap: 60px;
        padding: 30px 0px;


    }

    .cashback {

        display: block;
        overflow: hidden;

        img {
            margin-top: 0px;
        }


    }

    .airport {

        display: block;
        overflow: hidden;

        img {
            margin-top: 0px;
        }
    }

    .offers {
        display: block;
        overflow: hidden;

    }

    .perks {

        width: 80%;

        h1 {
            font-size: 28px;
        }

    }

    .grid-2 {
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: 345px 345px 345px;
        row-gap: 50px;

    }



    .figures {
        height: 40vh;
        width: 90%;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customers {
        height: auto;
        width: fit-content;
        text-align: center;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }

    .transaction {
        height: auto;
        width: fit-content;
        text-align: center;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

    }


    .payments {

        height: auto;
        width: fit-content;
        text-align: center;

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }

    .partners {

        height: auto;
        width: 70%;

        h1 {
            font-size: 28px;
        }

    }

    .grid-3 {

        height: auto;
        width: 85%;
        display: grid;
        grid-template-columns: repeat(2, 190px);
        grid-template-rows: 130px 130px;
        gap: 20px;

    }

    .upi {
        position: relative;
        left: 125px;
        bottom: 10px;
    }



    /*============================ homepage-3 responsive from here ================================== */




    .homepage-3 {
        height: auto;
        padding: 50px;
        width: 100%;
        overflow: hidden;

        h1 {
            font-size: 32px;
        }
    }

    .grid-cards {
        width: 90%;
        display: grid;
        grid-template-columns: 50px 390px 50px;
        grid-template-rows: 300px 300px;
        justify-content: center;
    }

    .review-2 {
        display: none;
    }


    .arrow-1 {
        position: relative;
        left: 30px;
    }

    .arrow-2 {
        position: relative;
        right: 30px;
    }

    .avatar {
        height: 90px;
        width: 90px;
    }

    .avatar-name {
        /* border: 2px solid red; */
        height: fit-content;
        margin: 50px 20px;
        font-size: 19px;
    }

    .money {
        padding: 8px 20px;
        font-size: 13px;

        span {
            font-size: 16px;
        }
    }

    .text {
        color: #182547;
        margin: 10px;
        font-size: 1rem;
        line-height: 1.5rem;
    }



    .grid-4 {
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: 280px;
        position: relative;
        right: 12px;
        width: 100%;
        height: auto;
        gap: 15px;
    }

    .cashback-3 {

        img {
            margin-top: 60px;
            vertical-align: middle;
        }

        h1 {
            font-size: 20px;
            padding-top: 30px;

        }

    }

    .approval {

        img {
            margin-top: 60px;
        }

        h1 {
            font-size: 20px;
        }
    }

    .click {

        position: relative;
        left: 100px;

        img {
            margin-top: 60px;
        }

        h1 {
            font-size: 20px;
        }
    }

    /*============================ homepage-4 responsive from here ================================== */


    .homepage-4 {

        h1 {
            font-size: 32px;
        }


        .caraousal-cards {

            height: 70vh;
            width: 100%;
            /* border: 2px solid red; */
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: 150px 150px 150px 150px 150px;
            grid-template-rows: 350px 350px 350px 350px 350px;
            gap: 10px;
            padding: 10px;


        }

        .card-1 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 20px;
            border-radius: 10px;
            border: 0;

        }

        .card-2 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 20px;
            border-radius: 10px;
            border: 0;

        }

        .card-3 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 10px;
            border: 0;

        }

        .card-4 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 10px;
            border: 0;

        }

        .card-5 button {


            font-size: 16px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 10px;
            border: 0;

        }

        .scroll-button {

            button {

                padding: 15px 4px;
                font-size: 15px;

            }

        }

        .scroll-button button:focus {

            background-color: white;
            color: black;
        }

        #digitalfinance_card {
            margin-top: 30px;
            height: 200px;
            width: 300px;
        }

        .BW-logo-2 {
            height: 100%;
            width: 120%;
        }


        #applynow {
            font-size: 16px;
            padding: 15px 30px;
        }

        .questions {
            /* border: 2px solid red; */
            width: 100%;
            padding: 20px;
            font-size: 15px;
            margin-top: 50px;

            hr {
                width: 98%;
                border: 0.5px solid #F5F5F5;
            }

            h1 {
                font-size: 30px;
            }

        }

    }



    /*============================ footer responsive from here ================================== */



    .footer {
        height: auto;
        display: flex;
    }

    .footer-contents {
        height: auto;
        width: 95%;
        padding: 20px;
        /* border: 2px solid red; */
        display: block;
        gap: 0px;
    }

    .info {

        /* border: 2px solid red; */
        height: 100%;
        width: 80%;

        p {
            font-size: 20px;
            margin-left: 0px;
        }

        .apple-playstore {
            justify-content: left;
            margin-top: 0px;

            img {
                margin: 10px 20px;
            }
        }

        .apple-playstore hr {
            height: 25px;
            border: 1px solid white;

        }

    }

    #w-logo {
        margin: 20px;
    }

    .certifications {

        /* border: 2px solid red; */
        height: 100%;
        width: 80%;

        h1 {
            font-size: 25px;
            color: white;
            font-weight: 500;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 25px;
            color: white;
            font-weight: 400;
            margin-bottom: 20px;
        }

        .top {
            height: auto;
            padding: 20px 0px;
        }

        .C-logos {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        .bottom {
            height: auto;
        }

        .socials {
            display: flex;
            position: relative;
            right: 0px;
            /* justify-content: center; */
            align-items: center;
            gap: 8px;

            img {
                height: 45px;
            }

            hr {
                height: 25px;
            }
        }

    }

    .contacts-us {

        width: 80%;


        h1 {
            color: white;
            font-size: 25px;
            font-weight: 500;
            padding: 20px 0px;
            position: relative;
            right: 0px;
        }

        .whatsapp {
            position: relative;
            left: 9px;
            width: 98%;
            margin: 0px 0px;

        }

        .location {
            margin: 20px 0px;
            position: relative;
            left: 12px;

        }

        .address {
            /* border: 2px solid red; */
            color: white;
            font-size: 16px;
            line-height: 1.6rem;

        }



    }

    .company {

        /* border: 2px solid red; */
        position: static;
        width: 80%;

        h1 {
            font-size: 25px;
            padding: 20px 0px;

        }

    }

    .company-links {

        display: grid;
        grid-template-rows: repeat(5, 1fr);
        gap: 20px;

        a {

            color: white;
            font-size: 16px;
            text-decoration: none;

        }
    }

    #footer-line {
        width: 90%;
        border: 1px solid white;
    }

    #copyright {
        font-size: 14px;
        margin: 20px 0px 20px;

    }





}